.toggle {
    margin-top: 1rem;
    background-color: transparent;
    color: #9f5ccc;
    border: none;
    padding: 0.15rem 1.5rem;
  }
  
.toggle:hover {
    background-color: transparent;
    color: #ae82cc;
  }

.extra-actions{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin-top: -10px;
}


.action-btn{
    padding: 0px 20px;
}